.google-logo {
	margin-top: 198px;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	display: block;

}

form {
	text-align: center;
}

.search-bar {
	width: 550px;
	padding: 15px 20px;
	margin: 25px 0;

}

.search-bar:hover {
	box-shadow: 0px 2px;
	

}

.submit {
	background-color: #f2f2f2;
	color: #757575;
	font-weight: bold;
	width: 140px;
	padding: 12px 0px;
	font-size: small;
	border: none;
}

.submit:hover {
	color: black;
	box-shadow: 1px 1px grey;
	border: black;

}

body {
	font-family: arial,sans-serif
}

.languages {
	text-align: center;
	font-size: small;
	margin-top: 25px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.menu-bar ul {
	padding: 8px;
	background-color: none;
	position: fixed;
	top: 0;
	width: 100%;
	right: 0;
	color: black;
	
}

li a {
	display: block;
	text-align: center;
}

li {
	float: left;
	padding: 12px;
}

ul {
	font-size: small;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

	
}

.footer ul{
	background-color: #f2f2f2;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	color: rgba(0,0,0,.54);


}

#denmark {
	display: block;
	position: fixed;
	bottom: 0;
	margin-bottom: 39px;
	padding: 10px;
	float: left;
	color: rgba(0,0,0,.54);
	background-color: #f2f2f2;
	width: 100%;
	left: 0;
	border-bottom: solid 1px #e4e4e4;
	font-size: 15px;


}


a:visited #denmark{
	color: rgba(0,0,0,.54);
}




